<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
          $if(pagetitle)$
            $pagetitle$
          $else$ $if(slug)$
            monadi.cc | $slug$
          $else$
            monadi.cc | $title$
          $endif$ $endif$
        </title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" href="/favicon.svg" />

        <!-- KaTeX -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css" integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew" crossorigin="anonymous">
    
        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js" integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ" crossorigin="anonymous"></script>
    
        <!-- To automatically render math in text elements, include the auto-render extension (\u0024 is dollar sign): -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
          onload="renderMathInElement(document.body,
            { delimiters: [
              {left: '\u0024\u0024', right: '\u0024\u0024', display: true},
              {left: '\\[', right: '\\]', display: true},
              {left: '\u0024', right: '\u0024', display: false},
              {left: '\\(', right: '\\)', display: true}
            ] }
          );"></script>
    </head>
    <body>
        <header>
            <a href="/" class="image-link"><img src="/images/pfp.png" id="icon" /></a>
            <div class="logo">
                <a href="/">
                  <div id="logo-text">
                    monadi.cc
                  </div>
                </a>
            </div>
            <nav>
                <a href="/explore/">Explore</a>
                <a href="/about/">About</a>
                <a href="/colophon/">Colophon</a>
                <a href="/archive/">Archive</a>
            </nav>
        </header>

        <div id="bg"></div>
        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            <a href="https://jade.fyi/blog/the-postmodern-build-system/">Monadically built</a> by <a href="https://nixos.org">Nix</a>, <br>
            <a href="https://theory.stanford.edu/~blynn/haskell/why.html">functionally assembled</a> in <a href="https://haskell.org">Haskell</a>, <br>
            <a href="https://en.wikipedia.org/wiki/Curry%E2%80%93Howard_correspondence">formally verified</a> by <a href="https://ucsd-progsys.github.io/liquidhaskell/">Liquid Haskell</a>, <br>
            <a href="https://thoughtsfactorial.com/posts/2020-05-16-modern-css-in-haskell/">thoughtfully designed</a> with <a href="http://fvisser.nl/clay/">Clay</a>, <br>
            and <a href="https://topos.institute/blog/2024-10-31-declarative-models-and-collaborative-modeling/">declaratively generated</a> by <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
            
            <br><br>
            <div class="left">
              Credits for typography and other design elements can be found in the <a href="/colophon/">colophon</a>.
            </div>
            <br>
            <div class="left">Made with ❤️ in Danville, California.</div>
        </footer>
    </body>
</html>
